
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   }

img {
  width: 100%; 
}

body {
  font-family:  'Montserrat', sans-serif; 
}
.wrapper{
  margin:0 20px;
}

.main-nav{
	display: flex;
  padding: 15px 0;
  align-items: center;
  list-style: none;
  justify-content: space-between;
}
ul{
	display: flex;
}
.nav-item{
	list-style: none;
	padding: 0 10px;
  color: #000;
}
.nav-item:hover{
  cursor: pointer;
}
a{
	text-decoration: none;
  text-transform: uppercase;
  font-size: 1vw;
  font-weight: 600;
  color: #000;
}
.order{
	margin-left:32%;
}
.btn{
  padding:1vw 4vw;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #079FD0;
  text-transform: uppercase;
}
.btn:hover{
  cursor: pointer;
}
.logo img{
  width:11vw;
}
.main-content{
  max-height: 100vh;
  background-color: #C4C4C4AD;
  color: #fff;
  width: 85%;
}
h1{
  color: #000;
  display: inline;
  font-weight: 400;
  font-size: 21vw;
}
.tittle + p{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 400;
}
.img-fluid{
  bottom: 30vw;
  left: 64%;
  position: relative;
  width: 55%;
}

.main-box{
    font-size:3vw;
    position: relative;
    top: 4vw;
    left: 8vw;;
}
.main-box :last-child{
  font-size: 25px;
}
.link:hover{
  cursor: pointer;
}
.conteiner{
  display: flex;
  margin-top: 50px
}
.img-conteiner{
  max-width: 50%;
}
.content{
  display: flex;
  flex-direction: column;
  padding: 0 160px 0 80px;
  line-height: 1.5;
  font-weight: 400;
}

.content :last-child{
  color: #079FD0;
  margin-top: 60px;
  font-weight: 500;
}

.content :first-child{
  color: #079FD0;
  margin-bottom: 130px;
  font-weight: 500;
}
.boxes{
  display: flex;
  align-items: end;
}

.content-add :last-child{
  color: #079FD0;
  font-weight: 500;
}

.content-add :first-child{
  color: #079FD0;
  margin: 35px 0 35px 0;
  font-weight: 500;
  padding-right: 107px;
}
.content-add p{
  margin-bottom: 35px;
  padding-right: 3vw;
}
.additional h2{
  color: #079FD0;
  padding: 60px;
  text-align: center;
  font-weight: 500;
  font-size: 35px;
}
.footer-content{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  background-color: #C4C4C433;
  padding: 35px;
}
.info{
  display: flex;
  flex-direction: column;
  line-height: 2;
  list-style: none;
}
.item-link{
  font-weight: 500;
  text-transform: inherit;
}
.footer-info{
  font-weight: 600;
}
.footer-logo{
  width: 15vh;
}
.content-box{
  height: 77vh;
}

.img-box{
  object-fit:cover;
  height:40vh;
}

.padding{
  padding: 0 40px;
}
