

$header-background:url('../img/4.jpg');

$background-main:url('../img/4.jpg');


$content-img-one:url('../img/5.jpeg');


$content-img-two:url('../img/6.jpg');




$content-img-three:url('../img/7.jpg');



$reviews-background:#886885;
$color-reviews:#ddbfda;



$reviews-background-box:#a15f9b;
$color-reviews:#ddbfda;



$find-bc:#987c95;
$find-color: #533a50;


$footer-content-bc: #6c3c86;
$footer-content-color: #4b205e;
$list-color: #db97e5;
$link-color: #db97e5;
$footer-content-tittle: #db97e5;
$footer-contact: #db97e5;
$btn-bc:#49295b;
$btn-color:#fff;



$placeholder:#533a50;
$input-list-bc:#987c95;
$input-list-color:#533a50;
$input-list-border:#533a50;
$passengers-bc:#987c95;
$passengers-color:#533a50;
$passengers-border: #533a50;


$description-container-color:#533a50;



$learn:#f5d6f5;


$learn-more-color:#f5d6f5;


$nav-item-color:#f5d6f5;


$main-color:#f5d6f5;
