

$header-background:url('../img/0.jpg');




$content-img-one:url('../img/1.jpg');



$content-img-two:url('../img/2.jpg');


$content-img-three:url('../img/3.jpg');




$reviews-background:#ae95ac;
$color-reviews:#c1d1df;



$reviews-background-box:#b89bb5;
$color-reviews:#c1d1df;


$find-bc:#787d81;
$find-color: #c1d1df;



$footer-content-bc: #465290;
$footer-content-color: #0f0f71;
$list-color: #a4b8de;
$link-color: #a4b8de;
$footer-content-tittle: #a4b8de;
$footer-contact: #000;
$btn-bc:#0f0f71;
$btn-color:#fff;




$placeholder:#4b5156;
$input-list-bc:#787d81;
$input-list-color:#4b5156;
$input-list-border:#4b5156;
$passengers-bc:#787d81;
$passengers-color:#4b5156;
$passengers-border:#4b5156;


$description-container-color:#576066;



$learn:#c1d1df;


$learn-more-color:#c1d1df;


$nav-item-color:#c1d1df;


$main-color:#c1d1df;
